{% extends "base.html" %}
{% block content %}
  {% if request.user == course.author %}
    <p><a href={% url 'courses:update_course' course_id=course.id %}>Изменить курс</a> 
      <a href={% url 'courses:delete_course' course_id=course.id %}>Удалить курс</a></p>
    <p><a href={% url 'courses:add_lesson' course_id=course.id %}>Добавить урок</a> 
      <a href={% url 'courses:hidden_lessons' course_id=course.id %}>Скрытые уроки</a></p>
  {% endif %}
  <h3>{{ course.name }}</h3>
  <p>{{ course.description }}</p>
  {% if lessons %}
    <h4>Уроки</h4>
    {% for lesson in lessons %}
      <p><a href={% url 'courses:lesson_detail' lesson_id=lesson.id %}>{{ lesson.name }}</a></p>
    {% endfor %}
  {% else %}
    <p>В этом курсе пока нет уроков</p>
  {% endif %}
{% endblock %}