{% extends "base.html" %}
{% block content %}
  {% if request.user == course.author %}
    <p><a href={% url 'courses:update_course' course_id=course.id %}>Изменить курс</a> 
      <a href={% url 'courses:delete_course' course_id=course.id %}>Удалить курс</a></p>
    <p><a href={% url 'courses:add_module' course_id=course.id %}>Добавить модуль</a> 
      <a href={% url 'courses:hidden_modules' course_id=course.id %}>Скрытые модули</a></p>
  {% else %}
    {% if is_subscribed %}
      <p><a href={% url 'courses:toggle_subscribe' course_id=course.id  %}>Отписаться от курса</a></p>
    {% else %}
      <p><a href={% url 'courses:toggle_subscribe' course_id=course.id  %}>Подписаться на курс</a></p>
    {% endif %}
  {% endif %}
  <h3>{{ course.name }}</h3>
  <p>{{ course.description }}</p>
  {% if modules %}
    <h4>Модули</h4>
    {% for module in modules %}
      <p><a href={% url 'courses:module_detail' module_id=module.id %}>{{module.module_number}}. {{ module.name }}</a></p>
    {% endfor %}
  {% else %}
    <p>В этом курсе пока нет модулей</p>
  {% endif %}
{% endblock %}