{% extends "base.html" %}
{% block content %}
  {% if request.user == test.lesson.module.course.author %}
    <p><a href={% url 'courses:update_test' test_id=test.id %}>Изменить тест</a> 
        <a href={% url 'courses:delete_test' test_id=test.id %}>Удалить тест</a></p>
    {% comment %}<p><a href={% url 'courses:add_test' lesson_id=lesson.id %}>Добавить тест</a></p> {% endcomment %}
  {% endif %}
  {% if test.hidden %}
    <i>Этот тест скрыт</i>
    <a href={% url 'courses:toggle_test' test_id=test.id %}>Опубликовать</a>
  {% else %}
    <a href={% url 'courses:toggle_test' test_id=test.id %}>Скрыть</a>
  {% endif %}
  <h3>{{ test.name }}</h3>
  {% if request.user == test.lesson.module.course.author %}
    {% if questions %}
      {% for question in questions %}
        <p>{{ question.text }}</p>
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Take test</p>
    <!-- TODO take test -->
  {% endif %}
{% endblock %}