{% extends "base.html" %}
{% load static %}
{% block scripts %}
  {% comment %} <script src="{% static 'js/test.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block content %}
  {% if request.user == test.lesson.module.course.author %}
    <p><a href={% url 'courses:update_test' test_id=test.id %}>Изменить тест</a> 
        <a href={% url 'courses:delete_test' test_id=test.id %}>Удалить тест</a></p>
    <p><a href={% url 'courses:add_question' test_id=test.id %}>Добавить вопрос</a></p>
    {% if test.hidden %}
      <i>Этот тест скрыт</i>
      <a href={% url 'courses:toggle_test' test_id=test.id %}>Опубликовать</a>
    {% else %}
      <a href={% url 'courses:toggle_test' test_id=test.id %}>Скрыть</a>
    {% endif %}
  {% endif %}
  <h3>{{ test.name }}</h3>
  {% if request.user == test.lesson.module.course.author %}
    {% if questions %}
      {% for question in questions %}
        <p><h4>{{ forloop.counter }}. {{ question.text }} - {{ question.type }}
            <a href={% url 'courses:update_question' question_id=question.id %}>Изменить</a>
            <a href={% url 'courses:delete_question' question_id=question.id %}>Удалить</a></h4> </p>
        {% for answer in question.get_answers %}
            <p>&nbsp;&nbsp;&nbsp;{{answer.pk}} - {{ answer.answer_text }}
              {% if answer.match_pair %} - {{ answer.match_pair }} {% else %}
              {% if answer.is_correct %} - ВЕРНЫЙ {% endif %}{% endif %}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% else %}
    <form id="test-form" class="mt-3 mb-3">
      {% csrf_token %}
      <div id="test-box"></div>
      <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
  {% endif %}
{% endblock %}