{% extends "base.html" %}
{% block content %}
  {% if request.user == test.lesson.module.course.author %}
    <p><a href={% url 'courses:update_test' test_id=test.id %}>Изменить тест</a> 
        <a href={% url 'courses:delete_test' test_id=test.id %}>Удалить тест</a></p>
    <p><a href={% url 'courses:add_question' test_id=test.id %}>Добавить вопрос</a></p>
  {% endif %}
  {% if test.hidden %}
    <i>Этот тест скрыт</i>
    <a href={% url 'courses:toggle_test' test_id=test.id %}>Опубликовать</a>
  {% else %}
    <a href={% url 'courses:toggle_test' test_id=test.id %}>Скрыть</a>
  {% endif %}
  <h3>{{ test.name }}</h3>
  {% if request.user == test.lesson.module.course.author %}
    {% if questions %}
      {% for question in questions %}
        <p><h4>{{ forloop.counter }}. {{ question.text }} - {{ question.type }}
            <a href={% url 'courses:update_question' question_id=question.id %}>Изменить</a>
            <a href={% url 'courses:delete_question' question_id=question.id %}>Удалить</a></h4> </p>
        {% for answer in question.get_answers %}
          {% if question.type != 'matching' %}
            <p>&nbsp;&nbsp;&nbsp;{{answer.pk}} - {{ answer.answer_text }} - {{ answer.is_correct }}</p>
          {% else %}
            <p>&nbsp;&nbsp;&nbsp;{{answer.pk}} - {{ answer.answer_text }} - {{ answer.match_pair }}</p>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Take test</p>
    <!-- TODO take test -->
  {% endif %}
{% endblock %}