{% extends "base.html" %}
{% load static %}
{% block scripts %}
  <script src="{% static 'js/start.js' %}" defer></script>
{% endblock %}
{% block content %}
  {% if request.user == lesson.module.course.author %}
     <p><a href={% url 'courses:update_lesson' lesson_id=lesson.id %}>Изменить урок</a> 
        <a href={% url 'courses:delete_lesson' lesson_id=lesson.id %}>Удалить урок</a></p>
    <p><a href={% url 'courses:add_test' lesson_id=lesson.id %}>Добавить тест</a>
      <a href={% url 'courses:hidden_tests' lesson_id=lesson.id %}>Скрытые тесты</a></p>
    {% if lesson.hidden %}
      <i>Этот урок скрыт</i>
      <a href={% url 'courses:toggle_lesson' lesson_id=lesson.id %}>Опубликовать</a>
    {% else %}
      <a href={% url 'courses:toggle_lesson' lesson_id=lesson.id %}>Скрыть</a>
    {% endif %}
  {% endif %}
  <h3>{{ lesson.name }}</h3>
  <p>{{ lesson.content|linebreaks }}</p>
  {% if tests %}
    <h4>Тесты</h4>    
    {% for test in tests %}
      {% if request.user == lesson.module.course.author %}
      
        <p><a href={% url 'courses:test_detail' test_id=test.id %}>{{ test.name }}</a></p>
      {% else %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item col-6 col-md-4">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ test.name }}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form mehtod="GET" action={% url 'courses:take_test' test_id=test.id %}>
                  {{ test.name }}<br><button type="submit" class="btn btn-primary">Начать тест</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <p><a href={% url 'courses:take_test' test_id=test.id %}>{{ test.name }}</a></p> {% endcomment %}
        {% comment %} <p>{{ test.name }} - {{test.pk}}</p> <button type='button' id='start-button' class='btn btn-primary' data-test-id="{{test.pk}}">Начать тест</button> {% endcomment %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}