{% extends "base.html" %}
{% block content %}
  {% if request.user == module.course.author %}
    <p><a href={% url 'courses:update_module' module_id=module.id %}>Изменить модуль</a> 
        <a href={% url 'courses:delete_module' module_id=module.id %}>Удалить модуль</a></p>
    <p><a href={% url 'courses:add_lesson' module_id=module.id %}>Добавить урок</a>
      <a href={% url 'courses:hidden_lessons' module_id=module.id %}>Скрытые уроки</a></p>
    {% if module.hidden %}
      <i>Этот модуль скрыт</i>
      <a href={% url 'courses:toggle_module' module_id=module.id %}>Опубликовать</a>
    {% else %}
      <a href={% url 'courses:toggle_module' module_id=module.id %}>Скрыть</a>
    {% endif %}
  {% endif %}
  <h3>{{ module.name }}</h3>
  {% if lessons %}
    <h4>Уроки</h4>
    {% for lesson in lessons %}
      <p><a href={% url 'courses:lesson_detail' lesson_id=lesson.id %}>{{lesson.lesson_number}}. {{lesson.name}}</a></p>
    {% endfor %}
  {% endif %}
{% endblock %}