{% extends "base.html" %}
{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
        {% endif %}
      </div>
    {% endfor %}
      <button type="submit">
        {% if 'add' in request.resolver_match.url_name %}
          Добавить
        {% else %}
          Изменить
        {% endif %}
      </button>
  </form>
{% endblock %}